NOTE =  ____REMOVE THIS LINE AFTER RENAMING sample.env to .env ____

OWNER_NUMBER="923184474176"
SESSION_ID = "SESSION_85_23_59_01_kjgfgfclhj"
THUMB_IMAGE = "https://telegra.ph/file/d5b1c3544fedc23e11a06.jpg"
OWNER_NAME = "Suhail"
PREFIX = .
WARN_COUNT = 3
DISABLE_PM = "false" 
MODE = "private"
ANTILINK_VALUES = "all
          




